<<<<<<< HEAD
.ChooseUs {
  margin-top: 200px;
}

@media only screen and (min-width: 300px) and (max-width: 996px) {
  .ChooseUs {
    margin-top: 100px;
  }
}
=======
.ChooseUs {
  margin-top: 200px;
}

@media only screen and (min-width: 300px) and (max-width: 996px) {
  .ChooseUs {
    margin-top: 100px;
  }
}
>>>>>>> 90b992db25db3febd6857dd866a86cc872b19690
