@import "../../style//color.scss";
.Feedback-card {
  width: 30%;
  height: 250px;
  border: 1px solid #4f5153;
  border-radius: 10px;
  padding: 60px;
  transition: 1s;
  visibility: hidden;

  &:hover {
    background-color: $primary-color;
    color: #101010;
    transform: scale(110%);
  }
}

.Feedback-card:nth-of-type(2) {
  background-color: $primary-color;
  color: #101010;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  .Feedback-card {
    width: 90%;
    margin: auto;
    height: 200px;
    margin-bottom: 50px;
    padding: 60px 30px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  .Feedback-card {
    width: 80%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .Feedback-card {
    width: 70%;
    margin: auto;
    height: 200px;
    margin-bottom: 50px;
    padding: 60px 30px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .Feedback-card {
    width: 60%;
  }
}

@media only screen and (min-width: 996px) and (max-width: 1200px) {
  .Feedback-card {
    width: 31%;
  }
}
