
@import "../../style/color.scss";
.Exercise {
  margin-top: 5px;
  .Exercise-days {
    p {
      position: relative;
      top: 15px;
      width: 100px;
      height: 35px;
      text-align: center;
      padding: 5px 0;
      border-radius: 5px;
    }

    .active {
      background-color: $primary-color;
      color: #101010;
    }
  }

  .Exercise-cards {
    margin-top: 100px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  .Exercise {
    margin-top: 10px;

    hr {
      margin-top: 5px;
    }

    .Exercise-days {
      p {
        top: 5px;
        font-size: 14px;
      }
    }

    .Exercise-cards {
      margin-top: 80px;
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .Exercise {
    margin-top: 10px;

    hr {
      margin-top: 5px;
    }

    .Exercise-days {
      p {
        top: 5px;
        font-size: 14px;
      }
    }

    .Exercise-cards {
      margin-top: 80px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .Exercise {
    margin-top: 10px;

    hr {
      margin-top: 5px;
    }

    .Exercise-days {
      p {
        top: 5px;
        font-size: 16px;
      }
    }

    .Exercise-cards {
      margin-top: 80px;
    }
  }
}

@media only screen and (min-width: 996px) and (max-width: 1200px) {
  .Exercise {
    .Exercise-cards {
      margin-top: 80px;
    }
  }
}
