@import "../../style/color.scss";
.Exercise-card {
  width: 26%;
  height: 480px;
  border: 1px solid #4f5153;
  border-radius: 5px;

  .Exercise-card-img {
    width: 100%;

    img {
      width: 100%;
      height: 250px;
      border-radius: 5px 5px 0 0;
    }
  }

  .Exercise-card-text {
    padding: 30px 20px;
  }

  .Exercise-card-des {
    margin-top: 30px;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 1200px) {
  .Exercise-card {
    width: 90%;
    margin: auto;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  .Exercise-card {
    width: 80%;
  }
}

@media only screen and (min-width: 500px) and (max-width: 600px) {
  .Exercise-card {
    width: 70%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .Exercise-card {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .Exercise-card {
    width: 45%;
  }
}

@media only screen and (min-width: 996px) and (max-width: 1200px) {
  .Exercise-card {
    width: 38%;
  }
}
