@import "../../style/color.scss";

.Page-title {
  .Page-title-highlite {
    margin-bottom: 5px;
    &::before {
      content: " ";
      display: inline-block;
      width: 15px;
      height: 2.5px;
      background-color: $primary-color;
      margin-bottom: 2px;
      margin-right: 10px;
    }

    &::after {
      content: " ";
      display: inline-block;
      width: 15px;
      height: 2.5px;
      background-color: $primary-color;
      margin-bottom: 2px;
      margin-left: 10px;
    }
  }
}
