<<<<<<< HEAD
$primary-color: #f8b833;
$primary-text: #fff;
$second-text: rgb(255 255 255 / 65%);
=======
$primary-color: #f8b833;
$primary-text: #fff;
$second-text: rgb(255 255 255 / 65%);
>>>>>>> 90b992db25db3febd6857dd866a86cc872b19690
